.since{
    position: absolute;
    top: 11rem;
    left: 36rem;
    font-size: x-large;
    font-weight: bold;
    color:rgb(250, 210, 188);
    font-family: italic;
    opacity: 1;
}

.notes{
    position: absolute;
    top: 14rem;
    left: 25rem;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    font-family: italic;
}

.goto{
    position: absolute;
    top: 25rem;
    left: 36rem;
    border: none;
    background-color:#b8332c;
    color: #fff;
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.goto:hover{
    background-color: #a8403b;
}

.address{
    color: silver;
    position: absolute;
    top: 25rem;
    left: 30rem;
    text-align: center;
    color: #b8332c;
    font-weight: 500;
  
}