.fullmap{
    width: 100%;
    height:690px;
    position: absolute;
    top: 10rem;
    left: 0px;
}

.details{
  position: absolute;
  margin-top: 58rem;
  left: 5rem;
  color: black;
  font-size: 30px;
  font-weight: 100;
  font-family: italic;
  text-transform: capitalize;
}

.addrs{
    position: absolute;
    top: 60rem;
    left: 5rem;
    color:#8c7b7b ;
    font-size: 20px;
}


.phn-nmbr{
    position: absolute;
    top: 68rem;
    left: 5rem;
    font-size: 20px;
}

.name-sec{
    position: absolute;
    top: 58rem;
    left: 35rem;
    color: black;
   border: none;
   outline: none;
   resize: none;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   line-height: 1.5em;
   text-decoration: none;
   text-transform: none;
   letter-spacing: 0.1px;
}

.name-line{
    position: absolute;
    top: 61rem;
    left: 35rem;
    width: 333px;
}

.email-sec{
    position: absolute;
    top: 58rem;
    left: 58rem;
    color: black;
   border: none;
   outline: none;
   resize: none;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   line-height: 1.5em;
   text-decoration: none;
   text-transform: none;
   letter-spacing: 0.1px;
}

.email-line{
    position: absolute;
    top: 61rem;
    left: 58rem;
    width: 333px;
}

.phone-sec{
    position: absolute;
    top: 64rem;
    left: 35rem;
    color: black;
   border: none;
   outline: none;
   resize: none;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   line-height: 1.5em;
   text-decoration: none;
   text-transform: none;
   letter-spacing: 0.1px;
}

.phone-line{
    position: absolute;
    top: 66rem;
    left: 35rem;
    width: 333px;
}

.sub-sec{
    position: absolute;
    top: 64rem;
    left: 58rem;
    color: black;
   border: none;
   outline: none;
   resize: none;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   line-height: 1.5em;
   text-decoration: none;
   text-transform: none;
   letter-spacing: 0.1px;
}

.sub-line{
    position: absolute;
    top: 66rem;
    left: 58rem;
    width: 333px;
}

.help-sec{
    position: absolute;
    top: 70rem;
    left: 35rem;
    color: black;
    width: 705px;
   border: none;
   outline: none;
   resize: none;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   line-height: 1.5em;
   text-decoration: none;
   text-transform: none;
   letter-spacing: 0.1px;
}

.help-line{
    position: absolute;
    top: 75rem;
    left: 35rem;
    width: 705px;
}

.btn-get{
    position: absolute;
    top: 80rem;
    left: 35rem;
    border: none;
    background-color:#b8332c;
    color: #fff;
    width: 13rem;
    height: 3rem;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


.btn-get:hover{
    background-color: #a8403b;
}

.btn-agree{
    position: absolute;
    top: 81rem;
    left: 52rem;
    width: 19px;
    height: 18px;
    cursor: pointer;
    border-radius: 5px;
    border:0.5px solid #8c7b7b;
}

.collect{
    position: absolute;
    top: 80rem;
    left: 54rem;
    color: #8c7b7b;
    font-size: 15px;
}


