.loginDiv{
    width: 35%;
    height: 600px;
    margin-left: 25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.logindetail{
    border: 1px solid black;
    background-image: linear-gradient(to right, rgb(126, 6, 56), rgb(245, 59, 27));
    width: 300px;
    height: 440px;
    position: absolute;
    margin-top: 40px;
    margin-left: 75px;
    margin-bottom: 30px;
}

.signin{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family:italic;
    position: absolute;
    margin-top: 70px;
    margin-left: 120px;
}

.log-name{
    position: absolute;
    margin-top: 175px;
    margin-left: 80px;
    width: 255px;
    height: 35px;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.1px;   
}

.log-line{
    width: 260px;
    position: absolute;
    top: 15.5rem;
    left: 30rem;
    border-top: 1px solid black;
}

.log-pass{
    position: absolute;
    margin-top: 255px;
    margin-left: 80px;
    
    width: 255px;
    height: 35px;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.1px;
}

.pass-line{
    width: 260px;
    position: absolute;
    top: 20.5rem;
    left: 30rem;
    border-top: 1px solid black;
}

.log-btn{
    width: 95px;
    height: 46px;
    position: absolute;
    top: 25rem;
    left: 36rem;
    background-color: #6e0d08;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    font-family: italic;
    text-transform: capitalize;
    cursor: pointer;
}

.log-btn:hover{
    background-color: #782723;
}

.acnt{
    position: absolute;
    top: 28rem;
    left: 32rem;
    color: #fff;
}